body {
  margin: 0;
  padding: 0;
  background: url('images/fondo.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Courier New', 'Courier New', Courier, monospace;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding-top: 2rem;
}
  
  .titulo {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #ddd;
  }
  
  .contenedor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    width: 80vw;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .btn {
    height: 15vw;       /* Altura relativa */
    min-height: 60px;   /* Altura mínima para que no quede muy pequeña */
    border-radius: 1rem;
    opacity: 0.6;
    cursor: pointer;
    border: 2px solid white;
    transition: opacity 0.3s;
    width: 100%;        /* Ancho total del contenedor */
  }
  
  #verde { background-color: lightgray; }
  #rojo { background-color: lightgray; }
  #amarillo { background-color: lightgray; }
  #azul { background-color: lightgray; }
  
  #mensaje {
    margin-top: 2rem;
    font-size: 1.2rem;
    min-height: 1.5em; /* para que no "brinque" el texto */
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Caja negra con transparencia */
    padding: 30px 20px;
    border-radius: 12px;
    text-align: center;
    width: 90%;
    max-width: 500px;
  }